@font-face {
  font-family: "iconfont"; /* Project id 3868732 */
  src: url('iconfont.woff2?t=1674453489927') format('woff2'),
       url('iconfont.woff?t=1674453489927') format('woff'),
       url('iconfont.ttf?t=1674453489927') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qrcode:before {
  content: "\e76e";
}

.icon-erweima:before {
  content: "\e7ad";
}

.icon-img:before {
  content: "\e679";
}

.icon-collapse:before {
  content: "\e900";
}

