body {
	margin: 0px;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.action-bar {
	position: relative;
	height: 42px;
	text-align: right;
	padding: 0 15px;
	box-sizing: border-box;
	;
	border: 1px solid #f1e8e8;
	border-top: none;
	border-left: none;
	background: #ffffff;
}

.action-bar .el-button {
	font-size: 18px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	color: #409EFF
}

.action-bar .delete-btn {
	color: #F56C6C;
}

.action-bar .delete-btn:focus {
	color: #F56C6C;
}

.action-bar .home {
	position: absolute;
	left: 20px;
	padding-right: 10px;
	border-right: 1px solid #f1e8e8;
	color: #c0ccda;
}

.action-bar .home:hover {
	color: #f56c6c;
	border-right: 1px solid #f1e8e8;
}

.component-block {
	margin-left: 0;
	position: absolute;
	left: 0;
	width: 25%;
	height: 100%;
	border-right: 1px solid #f1e8e8;
}

.center-scrollbar {
	margin-left: 25.5%;
	height: calc(100vh - 42px);
	overflow: hidden;
	width: 74%;
	border: 1px dashed #000;
	margin-top: 5px;
	box-sizing: border-box;
}

.line {
	position: absolute;
	background-color: #409EFF;
	bottom: 0px;
	height: 1px;
	width: 100%;
}

.conf-header {
	position: relative;
	width: 100%;
	height: 42px;
	color: #409EFF;
	padding-top: 10px;
	text-align: center;
	font-size: 15px;
	margin-bottom: 15px;
}

.empty-info {
	position: absolute;
	top: 0;
	height: 100%;
	width: 72%;
	left: 28%;
}

.center-board-row {
	padding: 5px 5px 0px 5px;
	box-sizing: border-box;
}

.center-board-row .el-form {
	height: calc(100vh - 69px);
}

.component-id {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	color: #bbb;
	display: inline-block;
	margin: 0 6px;
}

.drawing-item-copy {
	position: absolute;
	top: -3px;
	right: 8%;
	height: 25px;
	width: 25px;
	text-align: center;
	border: 1px solid blue;
	border-radius: 13px;
	display: none;
}

.drawing-item-copy:hover {
	background-color: blue;
}

.drawing-item-copy:hover .el-icon-copy-document {
	color: #fff;
}

.drawing-item-copy .el-icon-copy-document {
	position: absolute;
	top: 3px;
	right: 3px;
	color: blue;
}

.drawing-item-delete {
	position: absolute;
	top: -3px;
	right: 3%;
	height: 25px;
	width: 25px;
	text-align: center;
	border: 1px solid red;
	border-radius: 13px;
	display: none;
}

.drawing-item-delete:hover {
	background-color: red;
}

.drawing-item-delete:hover .el-icon-delete {
	color: #fff;
}

.drawing-item-delete .el-icon-delete {
	position: absolute;
	top: 3px;
	right: 3px;
	color: red;
}

.drawing-item {
	position: absolute;
	border: 1px dashed #000;
}

.drawing-item:hover .el-col .drawing-item-delete {
	display: inline;
}

.drawing-item:hover .el-col .drawing-item-copy {
	display: inline;
}

.drawing-item:hover .el-col .form-item {
	background-color: #f1f1f1;
}

.left-div {
	position: absolute;
	width: 75%;
	overflow: hidden;
	border-right: 1px solid #f1e8e8;
}

.right-board {
	position: absolute;
	width: 25%;
	right: 0;
	height: 100%;
}

.editPage {
	position: absolute;
	width: 100%;
	height: 100%;
}

.miniItem_o {
	float: left;
	width: 43%;
	height: 35px;
	margin-left: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: #ebfbff;
	text-align: center;
	border: 1px solid #409EFF;
	border-radius: 5px;
}

.miniItem_o:hover {
	border: 1px dashed #ff3131;
}

.miniItem_j {
	float: left;
	width: 43%;
	height: 35px;
	margin-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: #ebfbff;
	text-align: center;
	border: 1px solid #409EFF;
	border-radius: 5px;
}

.miniItem_j:hover {
	border: 1px dashed #F56C6C;
}

.text {
	font-size: 10px;
}

.text:hover {
	color: #F56C6C;
}

.item-container {
	overflow: hidden;
}

.item-receiver {
	height: 100%;
}

.textMsg {
	margin-left: 5%;
	margin-top: 20px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 15px;
}

.form-item {
	padding-top: 5px;
	padding-bottom: 0;
	padding-right: 10px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.active-from-item .el-col .drawing-item-copy {
	display: inline;
}

.active-from-item .el-col .drawing-item-delete {
	display: inline
}

.active-from-item .el-col .form-item {
	background-color: #e6f2ff;
}

.active-from-item .el-col .component-id {
	color: #409eff;
}

.option-icon {}

.el-icon-remove-outline {
	color: red;
}

.logo {
	position: absolute;
	bottom: 3px;
	left: 20px;
	height: 35px;
}

.ele-logo {
	position: absolute;
	bottom: 3px;
	height: 35px;
	left: 65px;
}

.action-bar .el-icon-plus {
	position: absolute;
	top: 12px;
	left: 49px;
}

.el-rate {
	display: inline-flex;
}

.el-collapse-item__header {
	padding-left: 10px;
}

.el-collapse-item__wrap {
	padding-left: 10px;
}
